#header {
  padding-top: 50px;
}

.property {
  td:first-child {
    width: 90%;
  }
}

.pull-right {
  margin-left: 5px;
}

.field_with_errors {
  span {
    color: red;
    margin-left: 5px;
  }

  input[type="text"], textarea, select {
    border: 1px solid red;
  }
}